#wrap {
  width: 100%;
}

#box1 {
  width: 50%;
  background-color: red;
  color: white;
  float: left;
}

#box2 {
  width: 50%;
  background-color: green;
  color: white;
  float: right;
}

#box3 {
  background-color: blue;
  color: white;
  clear: both;
}