body {
  font-family: sans-selif;
}

p {
  font-size: 24px;
  /*font-weight: normal;*/
  font-weight: bold;
  line-height: 3.0;
}

h1 {
  /*text-align: left;*/
  /*text-align: center;*/
  text-align: right;
  text-decoration: underline;
}